<!DOCTYPE html>
<html lang="en">
<title>Login Page</title>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/Styles/home.css">
    
    <title>Document</title>
</head>
<body>
    <h1>STUDENT MANAGEMENT SYSTEM</h1>
    <div class="select-button">
        <a class="student-sign" href="loginStudent">Log in Student</a><br><br><br>
        <a class="admin-sign" href="loginStaff">Log in Admin</a><br>
    </div>
</body>
</html>