<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/Styles/loginStaff.css">
<title>Admin Sign in</title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Styles/a.css">

    <title>Document</title>
</head>
<body>
    <a href="home">Back</a><br>
    <div class="content">
        <h1>Log In Admin</h1>
    <form action="/loginStaff" method="POST">
        
        <form action="/loginStaff" method="POST" name="form" id="formLStaff">
            <table>
                <tr>
                    <td>Username</td>
                    <td><input type="text" name="username" id="username" placeholder="eg: malitha"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" id="password" placeholder="********"></td>
                </tr>
                <tr>
                    <td><button type="submit" value="Submit" name="submit">Log In</button></td>
                </tr>
            </table>
    </form>
    <a href="signupStaff">Don't have an account? <strong>SignUp Now</strong></a><br>
    <% if(!(message===""))  {%>
        <div>
            <ul>
                <li>
                    <%=message%>
                </li>
            </ul>
        </div>
        <%}%>
    </div>
</body>
</html>