<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Styles/signupStudent.css">

    <title>Document</title>
</head>
<body>
    <a href="loginStudent">Back</a><br>
    <div class="content">
    <h1>SignUp Student</h1>
    <form action="/signupStudent" method="POST" name="formSStudent" id="formSStudent">
        <table>
            <tr>
                <td>FirstName</td>
                <td><input type="text" name="firstname" id="firstname" placeholder="nishanka"></td>
            </tr>
            <tr>
                <td>LastName</td>
                <td><input type="text" name="lastname" id="lastname" placeholder="malla"></td>
            </tr>
            <tr>
                <td>StudentID</td>
                <td><input type="text" name="id" id="id" placeholder="190123A"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" id="email" placeholder="prince@gmail.com "></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" name="username" id="username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" id="password" placeholder="*******"></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="password2" id="password2" placeholder="*******"></td>
            </tr>
            <tr>
                <td><button type="submit" value="Submit" name="submit">Create Account</button></td>
            </tr>
        </table>
    </form>
    <% if(!(message===""))  {%>
        <div>
            <ul>
                <li>
                    <%=message%>
                </li>
            </ul>
        </div>
        <%}%>
    </div> 
</body>
</html>
